# ChordSheetJS-Extras

A JavaScript library of extras for [ChordSheetJS](https://github.com/martijnversluis/ChordSheetJS)

Based in part on code from ChordSheetJS by [Martijn Versluis](https://github.com/martijnversluis).

**Contents**

- [Installation](#installation)
- [How to ...?](#how-to-)

## Installation

`ChordSheetJS-Extras` is on npm, to install run:

```console
npm install chordsheetjs-extras
```

Make sure to install `ChordSheetJS`; it is a peer dependency. Extras can be used without it... but we don't know why you would.

```console
npm install chordsheetjs
```

Load with `import`:

```javascript
import ChordSheetJS from 'chordsheetjs';
import ChordSheetJSExtras from 'chordsheetjs-extras';
```

or `require()`:

```javascript
var ChordSheetJS = require('chordsheetjs').default;
var ChordSheetJSExtras = require('chordsheetjs-extras');
```

## How to ...?

### Display a parsed sheet

#### HTML format

##### Table-based layout, extended!

```javascript
const chordSheet = `
{title: Let it be}
{subtitle: ChordSheetJS example version}
{artist: John Lennon, Paul McCartney}
{key: C}
{tempo: 80}
{time: 4/4}
{Chorus}

Let it [Am]be, let it [C/G]be, let it [F]be, let it [C]be
[C]Whisper words of [G]wisdom, let it [F]be [C/E] [Dm] [C]`.substring(1);

const parser = new ChordSheetJS.ChordProParser();
const song = parser.parse(chordSheet);
const formatter = new ChordSheetJSExtras.HtmlTableExtFormatter();
const disp = formatter.format(song);
```


## API docs

Note: all classes, methods and constants that are documented here can be considered public API and will only be
subject to breaking changes between major versions.

{{>main}}
